<!DOCTYPE html>
{%extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect Dashboard</title>
    <style> 
        body{backg}
    </style>
</head>
{%block content%}
<header>
    <hr width="100%" size="2">
    <h3 style="text-align:border-left;margin-left:12px;color:darkblue;font_family:sans-serif;">Dashboard</h3>
    
</header>
<body>

    <h6 style="text-align:border-left;margin-left:20px;color:black;font_family:sans-serif;">
        Welcome back, student!
    </h6>
       
            
        
    </table>

</body>

{%endblock%}
</html>