{% extends "base.html" %}

{% block content %}
<h4>Weekly Tasks</h4>

<a class="btn btn-primary mb-3" href="{% url 'task_create' %}">Create Task</a>

<ul class="list-group">
  {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between">
      <div>
        <strong>{{ task.title }}</strong><br>
        {{ task.description }}<br>
        Due: {{ task.due_date }}
      </div>

      <div>
        <a class="btn btn-sm btn-warning" href="{% url 'task_edit' task.id %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'task_delete' task.id %}">Delete</a>
      </div>
    </li>
  {% empty %}
    <li class="list-group-item">No tasks yet.</li>
  {% endfor %}
</ul>

{% endblock %}