<!DOCTYPE html>
{%extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect Tasks</title>
    <style> 
        body{backg}
    </style>
</head>

{%block content%}

<h4 style="text-align:border-left;margin-left:12px;color:darkblue;font_family:sans-serif;">Tasks</h4>

<form method="post" style="text-align:border-left;margin-left:12px;font_family:sans-serif;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Create Task</button>
</form>

{%endblock%}